<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body onload="initial();">
    <h1>Vue.js</h1>
    <!-- <p id="msg" v-bind:class="{'a':isA, 'b':isB}" v-on:click="change();">クラスを操作します</p> -->
    <div id="msg">
        <p v-if="flg">メッセージの表示を操作します。</p>
        <p v-else>[ ※非表示です ]</p>
        <div>
            <input type="checkbox" id="ck" v-model="flg">
            <label for="ck">表示</label>
        </div>
    </div>
</body>
</html>